<div>
    <div class="container">
        <div class="row align-items-end">
            <div class="col">
                <h1>Contactanos</h1>
            </div>    
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="contact-form">
                <div class="row justify-content-center">
                    <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Mensaje</label>
                                <textarea class="form-control" id="message" rows="6" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-submit" 
                                style="background-color: #77473D; color: white; margin-bottom: 10px;">Enviar</button>
                        </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="contact-info text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Dirección</h5>
                        <p>León, Guanajuato Centro</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Teléfono</h5>
                        <p>+52 4778766765</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>